@model ReadLater5.Models.BookmarkModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bookmark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <a href="@Model.URL" target="_blank">@Html.DisplayFor(model => model.URL)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @if (Model.Category != null)
            {
                <span>@Model.Category.Name</span>
            }
            else
            {
                <span>None</span>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>